<mat-toolbar [color]="'primary'" class="is-justify-content-space-between">
    <a routerLink="" class="has-text-white">Welcome to NaudoDEV-Store</a>
    
    <div>
        <button mat-icon-button (click)="goToCreateProduct()">
            <mat-icon>
                add
            </mat-icon>
        </button>
    
        <button mat-icon-button (click)="goToBadge()">
            <mat-icon 
                [matBadge]="getNumberItems()"
                [matBadgeColor]="'warn'">
                    shopping_cart
            </mat-icon>
        </button>
    </div>
</mat-toolbar>