    <div (click)="getProduct()" class="card m-3">
        <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="product.imageBase64" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
            <div class="media-content">
              <div class="is-flex is-justify-content-space-between">
                <p class="title is-5 has-text-link">{{ product.name }}</p>
                <p class="title is-5 has-text-link">{{ product.price | currency: 'R$' }}</p>
              </div>
              <p class="subtitle is-6">{{ product.description.substring(0, 30) + "..."}}</p>
            </div>
        </div>
    </div>
